name: CI

on:
  push:
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: |
            pyproject.toml
            requirements-test.txt
            requirements-docs.txt
            .pre-commit-config.yaml

      - name: Install
        run: |
          python -m pip install -r requirements-test.txt -r requirements-docs.txt pre-commit ruff nox
          python -m pip install -e .

      - name: Pre-commit
        run: |
          pre-commit run -a

      - name: Quality
        env:
          COV_FAIL_UNDER: "68"
        run: |
          bash quality.sh all
